node_modules
dist
build

*.tsbuildinfo

*.pem
.dev.vars
.env
.env.me
.env.vault
env.d.ts
.env.sentry-build-plugin

.turbo
.astro
.wrangler
.DS_Store
.vscode
.tanstack
vite.config.ts.timestamp-*.js
vite.config.ts.timestamp-*.mjs
tmp